/** GENERALES **/
:root {
    --main-color: rgb(240, 153, 83);
    --red-color: #E75353;
    --white-color: #FFF;
    --black-color: #000;
    --blue-color: cornflowerblue;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 1.8rem;
}

img {
    max-width: 100%;
    width: 100%;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.toast {
    font-size: 1.6rem;
}

/** HEADER **/
#header {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    height: 20rem;
    background-color: var(--main-color);
}

@media (min-width: 768px) {
    #header {
        height: 10rem;
    }
}

.header-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 768px) {
    .header-content {
        flex-direction: row;
        justify-content: space-between;
    }
}

.logo {
    font-family: 'Kanit', sans-serif;
    position: relative;
    cursor: pointer;
}

.logo p {
    display: inline-block;
    color: var(--white-color);
    font-size: 5rem;
}

.title h1 {
    font-family: 'Spicy Rice', cursive;
    font-size: 5.5rem;
    letter-spacing: .2rem;
    font-weight: 100;
    color: antiquewhite;
    margin: 0;
}

.utils {
    max-width: 100%;
}

@media (max-width: 768px) {
    .utils {
        margin-bottom: 1rem;
    }
}

.utils button {
    padding: 1rem;
    background-color: var(--white-color);
    border: none;
    font-size: 2rem;
    border-radius: 100%;
    cursor: pointer;
    transition: all .2s ease-in;
}

.utils button:hover {
    color: var(--white-color);
    background-color: var(--black-color);
}

.utils .form {
    display: flex;
    gap: 1rem;
}

.utils .form input {
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    width: 30rem;
    font-size: 1.6rem;
}

.utils .cart {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    background-color: lightseagreen;
    font-size: 3.5rem;
    padding: 1.5rem;
    z-index: 1;
}

.utils .cart-count {
    position: absolute;
    top: 4rem;
    left: 5rem;
    background-color: var(--red-color);
    border-radius: 100%;
    color: #FFFFFF;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: .3rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/** FILTERS **/
#filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    border-bottom: 1px solid #CCC;
    margin-bottom: .5rem;
    padding: 1rem;
}

@media (max-width: 576px) {
    #filters {
        flex-direction: column;
        gap: 2rem;
    }
}

#filters select {
    font-size: 1.8rem;
    padding: .5rem;
    min-width: 22rem;
}

#filters select:last-of-type {
    margin-left: 1rem;
}

/** MAIN **/
#main .loading {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main .loading span {
    font-size: 2rem;
}

#main h2 {
    background-color: #F6F6F6;
    margin: 2rem 0;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    letter-spacing: .2rem;
}

#main .main-content {
    margin: 2rem 0;
}

#main section {
    text-align: center;
    margin: 1rem;
}

#main .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); */
    column-gap: 1rem;
    row-gap: 2rem;
}

@media (min-width: 576px) {
    #main .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    #main .products {
        grid-template-columns: repeat(3, 1fr);
    }
}
  
@media (min-width: 992px) {
    #main .products {
        grid-template-columns: repeat(4, 1fr);
    }
}

/** CARD **/
.card {
    border: 1px solid rgba(0,0,0,.125);
    transition: all 0.3s ease-out;
    height: 100%;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 5px 0px rgba(191,185,185,0.75);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(191,185,185,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(191,185,185,0.75);
}

.card-header {
    position: relative;
}

.card-header .product-image {
    height: 20rem;
    border-bottom: 1px solid #E1E1E1;
}

.card-header .discount {
    display: inline-block;
    background-color: var(--red-color);
    color: var(--white-color);
    padding: 1rem;
    font-size: 1.5rem;
    position: absolute;
    left: 0;
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 6rem;
}

.card-body .card-title {
    text-align: center;
    color: #4A4A4A;
    padding: .5rem;
    word-break: break-word;
}

.card-footer {
    background-color: #F6F6F6;
    border-top: 1px solid #E1E1E1;
    height: 100%;
    padding: 1rem 2rem;
}

.card-footer p {
    display: inline-block;
    font-size: 1.8rem;
    color: #717171;
    letter-spacing: .1rem;
}

.card-footer .product-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-footer .line-through {
    text-decoration: line-through;
}

.card-footer .fw-bold {
    font-weight: bold;
}

.card-footer .btn-add-product {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--blue-color);
    border: none;
    transition: .3s;
}

.card-footer .btn-add-product:hover {
    background-color: #3B69BB;
}

/** FOOTER **/
/* #footer {
    font-family: 'Kanit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--main-color);
    color: var(--white-color);
    height: 5rem;
    font-size: 2rem;
} */

/** SPINNER **/
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
    margin-right: 1rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/** ALERTAS **/
.alert {
    width: 100%;
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 1.6rem;
}

.alert-info {
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb;
}

/** MODAL CARRO **/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 20% auto; 
    border: 1px solid #888;
    width: 90%;
    font-family: 'Kanit', sans-serif;
}

@media (min-width: 768px) {
    .modal-content {
        margin: 5% auto; 
        width: 70%;
    }
}

@media (min-width: 992px) {
    .modal-content {
        width: 50%;
    }
}

#modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;
    background-color: var(--main-color);
    padding: 0 2rem;
}

#modal-header h2 {
    color: var(--white-color);
}

#modal-header i {
    color: var(--white-color);
    font-size: 2.8rem;
    font-weight: bold;
}

#modal-header .close:hover,
#modal-header .close:focus {
    text-decoration: none;
    cursor: pointer;
}

.modal-content .cart-products {
    padding: 2rem;
    max-height: 70vh;
    overflow-x: auto;
}

@media (max-width: 576px) {
    .modal-content .cart-products {
        max-height: 60vh;
    }
}

.cart-products #cart-table {
    width: 100%;
    font-size: 1.5rem;
}

#cart-table thead th {
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 1rem;
}

#cart-table tbody td {
    border-bottom: 1px solid #E1E1E1;
    text-align: center;
    font-weight: 300;
    width: 10%;
}

#cart-table tbody tr:last-child td{
    border-bottom: none;
}

#cart-table .product-image {
    padding: .1rem;
}

#cart-table .product-quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cart-table .product-quantity button {
    cursor: pointer;
    background-color: transparent;
    padding: .5rem;
    margin: .5rem;
    border: none;
}

#cart-table .product-quantity .btn-increase {
    color: var(--blue-color);
}

#cart-table .product-quantity .btn-increase:hover {
    color: var(--white-color);
    background-color: var(--blue-color);
}

#cart-table .product-quantity .btn-decrease {
    color: var(--red-color);
}

#cart-table .product-quantity .btn-decrease:hover {
    color: var(--white-color);
    background-color: var(--red-color);
}

#cart-table .btn-delete-product {
    border: none;
    color: var(--red-color);
    background-color: transparent;
    cursor: pointer;
    font-size: 2.5rem;
    transition: all .2s ease-out;
}

#cart-table .btn-delete-product:hover {
    color:#CA2f2F;
}

.modal-content #modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin-bottom: 1rem;
    border-top: 1px solid #E1E1E1;
    padding-top: 1rem;
}

#modal-footer .payment-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 576px) {
    #modal-footer .payment-detail {
        flex-direction: column;
    }
}

#modal-footer .payment-detail p {
    font-size: 1.8rem;
}

#modal-footer button {
    background-color: var(--white-color);
    font-size: 1.5rem;
    padding: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .2s ease-in;
}

#modal-footer .btn-clear-cart {
    color: var(--red-color);
    border: 1px solid var(--red-color);
}

#modal-footer .btn-clear-cart:hover {
    color: var(--white-color);
    background-color: var(--red-color);
}

#modal-footer .btn-pay {
    color: var(--blue-color);
    border: 1px solid var(--blue-color);
}

#modal-footer .btn-pay:hover {
    color: var(--white-color);
    background-color: var(--blue-color);
}